<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body id = "override-body">
        <ul class="nav">
                <li class = "nav-item">
                <a class="nav-link" href="{{url_for('users.index')}}">Users</a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="{{url_for('users.signup')}}">Sign Up</a>
            </li>
            <li class = "nav-item">
                <a class="nav-link" href="{{url_for('users.login')}}">Log In</a>
            </li>
        </ul>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>