extends base.pug

block content
    h1(class='text-center') Would you like to change your animal?
    form(action=`/animals/${animal.id}?_method=PATCH` method="POST")
      <div class="form-group">
        label(for="name" class='form-group') Name:
        input(type="text" name="name" value=`${animal.name}` placeholder="Name" required)
      <div class="form-group">
        label(for="cuteness" class='form-group') Cuteness Index:
        input(type="text" name="cuteness" value=`${animal.cuteness}` placeholder="Cuteness" required)
      <div class="form-group">
        button(class='btn btn-primary') Change Animal!
    a(href=`/animals/${animal.id}`) Go back to this animal's main page
