extends base.pug

block content
    div(class='text-center')
      h1 See your animals

      form(action=`/animals/search` method="GET")
        input(type="text" name='search' placeholder="Search...")
        button(class='btn btn-secondary') Search

      a(href="/animals/new") Add a new animal!
      ul(class='list-unstyled')
      each animal in animals
          li
            a(href=`animals/${animal.id}`) #{animal.name}
            p Cuteness: #{animal.cuteness}
      form(action=`/animals?_method=DELETE` method="POST")
          button(class='btn btn-danger') Delete All Animals
