{% extends 'base.html' %}

{% block content %}

<section>
    <h1>Update a New User!</h1>
    <div>
      <form action="{{url_for('show', id=user.id)}}?_method=PATCH" method="POST">
          {{ form.hidden_tag() }}
          {% for field in form if field.widget.input_type != 'hidden' %}

          <div>
            {{ field.label }}
            {{ field }}
            <span>
              {% if field.errors %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </div>

            {% endfor %}
        <div>
          <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Update It!</button>
        </div>
      </form>
    </div>
    <div>
      <h3>Want to Delete The User?</h3>
      <form action="{{url_for('show', id=user.id)}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0"><i class="fas fa-trash-alt"></i></button>
      </form>
    </div>

  </section>

{% endblock %}
