{% extends 'base.html' %}

{% block content %}

<section>
  <div>
    <a href="{{url_for('new')}}">Register a New User!</a>
  </div>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Edit</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td><a href="{{url_for('edit', id=user.id)}}"><i class="fas fa-edit"></i></a></td>
            <td><a href="{{url_for('show', id=user.id)}}"><i class="fas fa-user"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
{% endblock %}
