{% extends 'base.html' %}

{% block content %}
<section class="container">
  <h2 class="display-3 niki-headline">User: {{messages.user.first_name}} {{messages.user.last_name}}</h2>
  <h4> Message: {{messages.content}} </h4>
  <div>
    <div>
      <a class="btn niki-btn btn-dark" href="{{url_for('messages.edit', user_id=messages.user_id, id=messages.id)}}">Edit &nbsp;<i class="fas fa-edit"></i></a>
    </div>
    <form method="POST" action="{{url_for('messages.show', user_id=messages.user_id, id=messages.id)}}?_method=DELETE">
        {{delete_form.hidden_tag()}}
        <button type="submit" class="btn niki-btn btn-dark">Delete &nbsp;<i class="fas fa-trash-alt"></i> </button>
      </form>
  </div>

</section>


{% endblock %}
