{% extends 'base.html' %} {% block title %} New Tag {% endblock %} {% block content %}
<h1>Add a new tag !</h1>
<form method="POST" action="{{url_for('tags.index_tags')}}">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{field.label}} {{field}}
    <span>
      {% if field.errors %} {% for error in field.errors %} {{error}} {% endfor %} {% endif %}
    </span>
  </p>
  {% endfor %}
  <input class="btn btn-primary" type="submit" value="Add Tag">
</form>
<br>
<a class="btn btn-primary" href="{{url_for('tags.index_tags')}}">List of Tags</a>
<a class="btn btn-primary" href="{{url_for('root')}}">Home</a>
{% endblock %}
