{% extends 'base.html' %}

{% block content %}
<form action="{{url_for('tags.index')}}" method="POST" class="m-5 d-flex align-items-center justify-content-center form-inline">
  {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {{ field.label(class_="form-label mx-2") }}
      {{ field(class_="form-control") }}

      {% if field.errors %}
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    {% endfor %}
    <button class="btn btn-primary btn-large mx-2" type="submit">Submit!</button>
</form>

{% endblock %}
