{% extends 'base.html' %} {% block nav %}
<h1>Show Tag</h1>
{% endblock %} {% block content %}

<div class="show-form">

  <p>Name: {{ tag.name }}</p>

  <a href="{{url_for('tags.index', id=user.id)}}">
    <button>Messages Home</button>
  </a>
  <a href="{{url_for('tags.edit', id=user.id, tag_id=tag.id)}}">
    <button>Edit</button>
  </a>

  <form class="delete-form" action="{{url_for('tags.show', id=user.id, tag_id=tag.id)}}?_method=DELETE" method="POST">
    {{ delete_form.hidden_tag() }}
    <button>Delete</button>
  </form>

</div>

{% endblock %}
