{% extends "base.html" %} 
{% block title %}
Snack Attack
{% endblock %}

{% block content %}
<h1>Got snacks?  We sure do.</h1>
<h2>Check em out!</h2>
<a href='/snacks/new' class='addsnack'><i class="fas fa-plus-circle"></i>Add a yummy snack!</a>
<ul>
{% for snack in snack_list %}
    
    <li> Name: {{snack.name}} <br> Kind: {{snack.kind}}
        <a href="{{url_for('edit', id=snack.id)}}"><i class="fas fa-pen-square"></i></a>
        <form action="{{url_for('show', id=snack.id)}}?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
        </form>
    </li>
{% endfor %}

</ul>




{% endblock %}