{% extends "base.html" %}

{% block content %}
  <main>

  <h1>Please enjoy some Righteous snacks!</h1>

  <button id='btn__add'>
    <a href="{{url_for('new')}}" class='btn btn-primary'>Add a righteous snack</a>
  </button>

  <ul>
    {% for snack in snacks %}
    <li>
      <p>
        Name: {{ snack.name }}
      </p>
      <p>
        Kind: {{ snack.kind }}
      </p>

    <div>

      <form action="{{url_for('show', id=snack.id)}}?_method=DELETE" method="POST" class='snack__buttons'>
        <input type="submit" value="Delete" id='index__form--delete' class='btn btn-warning'>
      </form>

      <form action="{{url_for('edit', id=snack.id)}}" class='snack__buttons'>
        <input type="submit" value="Modify snack?" id='index__form--edit' class='btn btn-info'>
      </form>

    </div>

    </li>
    {% endfor %}
  </ul>




  </main>

{% endblock %}
