{% extends "base.html" %}

{% block content %}
  <main>

  <h1>Please enjoy some <span>Righteous</span> snacks!</h1>
    <button>
      <a href="{{url_for('new')}}">Add a righteous snack</a>
    </button>
  <ul>
    {% for snack in snacks %}
    <li>
      <p>
        Name: {{ snack.name }}
      </p>
      <p>
        Kind: {{ snack.kind }}
      </p>
    <form action="{{url_for('show', id=snack.id)}}?_method=DELETE" method="POST">
      <input type="submit" value="Delete" id='index__form--delete'>
    </form>

    <form action="{{url_for('edit', id=snack.id)}}">
      <input type="submit" value="Modify snack?" id='index__form--edit'>
    </form>

    </li>
    {% endfor %}
  </ul>




  </main>

{% endblock %}
