.header__center {
  padding: 1% 0;
  text-align: center;
}

.borderb__head {
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #17a2b8;
  margin-bottom: 5%;
  width: 35%;
}

.div__center {
  width: 50%;
  margin: 0 auto;
}

.link__register--user {
  margin: 0 auto;
  padding-bottom: 2%;
  width: 45%;
  text-align: center;
  cursor: pointer;
}
.table__whole--changes {
  margin: 0 auto;
  width: 100%;
  border: 1px solid black;
  margin-top: 5%;
}

.table__structure tr {
  border: 1px solid black;
}

.column__headers {
  border: 1px solid rgb(70, 70, 70);
  padding: 10px 20px;
  text-align: center;
}

.img-container {
  width: 250px;
  height: 250px;
}

.img-container img {
  max-height: 250px;
  max-width: 250px;
}

button > .button__edit:active,
button > .button__edit:visited,
button > .button__edit:link {
  text-decoration: none;
  border: none;
  color: #17a2b8;
}
button > .button__edit:hover {
  text-decoration: none;
  border: none;
  color: #fff;
}

.form__input {
  width: 275px;
  border-radius: 5%;
  box-shadow: inset 0 0 1px #3e3e3e;
  margin-left: 2%;
  margin-bottom: 1%;
  margin-top: 1%;
}

/* body> section > div: nth-child(4) > div > button > a; */
