{% extends 'base.html' %}

{% block content %}
<section>
  <div>
    <h1>User's Profile Name:&nbsp;</h1> <span><p>{{messages.user.first_name}}</p></span>&nbsp;<span><p>{{messages.user.last_name}}</p></span>
  </div>
  <h2>User Message {{ messages.id }}</h2>
  <div>
    <p> {{messages.content}} </p>
  </div>


  <div>
    <h5>Need To Update or Delete {{messages.user.first_name}}'s Message?</h5>
    <div>
      <a href="{{url_for('message_edit', user_id=messages.user_id, id=messages.id)}}">Edit Here  &nbsp;<i class="fas fa-edit"></i></a>
    </div>
    <form method="POST" action="{{url_for('message_show', user_id=messages.user_id, id=messages.id)}}?_method=DELETE">
        {{delete_form.hidden_tag()}}
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Delete &nbsp;<i class="fas fa-trash-alt"></i> </button>
      </form>
  </div>

</section>


{% endblock %}
