{% extends 'base.html' %}

{% block content %}

<section class="container">
  <div "div__center align-self-center">
    <h1 class="header__center align-self-center">List Of All Active Users</h1>
    <div class="borderb__head"></div>
  </div>

        {% for user in users %}

          <div class="card text-center d-inline-flex profilecard__space" style="width: 19rem;">
              <div class="card-header bg-info text-light">
                Active User
              </div>
              <div class="imgcard__container">
              <img class="card-img-top cover" src="{{user.image_url}}" alt="Card image of User">
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                <p class="card-text"><a href="{{url_for('users.show', id=user.id)}}" class="btn btn-primary mx-1">See Profile!&nbsp;&nbsp;<i class="fas fa-user"></i></a>
                  <a href="{{url_for('users.edit', id=user.id)}}" class="btn btn-primary">Edit&nbsp;&nbsp;<i class="fas fa-user"></i></a>
                </p>

                <a href="{{url_for('users.login')}}" class="btn btn-primary btn-sm mx-1">See Messages!&nbsp;<i class="fas fa-envelope"></i> </a>
              </div>
              <div class="card-footer text-muted">
                User ID {{user.id}}
              </div>
            </div>
        {% endfor %}

      <!-- </tbody>
    </table> -->
</section>
{% endblock %}


<!-- <div class="card text-center" style="width: 20rem;">
    <div class="card-header">
      Active User
    </div>
    <img class="card-img-top" src="{{user.image_url}}" alt="Card image of User">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="{{url_for('users.edit', id=user.id)}}" class="btn btn-primary">Edit&nbsp;<i class="fas fa-user"></i></a>
      <a href="{{url_for('users.show', id=user.id)}}" class="btn btn-primary">See Profile!&nbsp;<i class="fas fa-user"></i> </a>
      <a href="{{url_for('messages.index', user_id=user.id)}}" class="btn btn-primary">See Messages!&nbsp;<i class="fas fa-envelope"></i> </a>
    </div>
    <div class="card-footer text-muted">
      User ID {{user.id}}
    </div>style="max-height: 20rem;"
  </div> -->
