{% extends 'base.html' %} {% block content %}
<div class="page-content">
    <h2>Log in to your account:</h2>
    <br>
    <form action="{{url_for('users.login')}}" method="POST">
        {{ login_form.hidden_tag() }} {% for field in login_form if field.widget.input_type != 'hidden' %}
        <div>
            {{field.label}} {{ field }}
            <span>
            {% if field.errors %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
            {% endif %}
            </span>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-info">Log in</button>
    </form>
</div>
{% endblock %}