{% extends 'base.html' %}

{% block content %}
<section class="container">
    <div class="div__center mx-auto">
      <h1 class="header__center">Login To Your Account!</h1>
      <div class="borderb__head"></div>
    </div>
    <div class="row">
      <form action="{{url_for('users.login')}}" method="POST" class="mx-auto">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}

        <div>
          {{ field.label }}
          {{ field(class_="form__input") }}
          <span>
            {% if field.errors %}
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
          </span>
        </div>

          {% endfor %}
        <div class="my-3">
          <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Login!</button>
        </div>
      </form>
    </div>
  </section>
{% endblock %}
