{% extends 'base.html' %}

{% block content %}
<section class="container">
  <div class="div__center mx-auto">
    <h1 class="header__center">{{user.first_name}}'s Profile</h1>
    <div class="borderb__head"></div>
  </div>
  <div class="img-container header__center mx-auto">
      <img src="{{user.image_url}}" alt="pic of user">
  </div>
  <div>
    <h5>User's Full Name:&nbsp;</h5> <span><p>{{user.first_name}} {{user.last_name}}</p></span>
  </div>
  {% if current_user.id == user.id %}
  <div>
    <div>
      <h5>Need To Update or Delete {{user.first_name}}'s Profile?</h5>
    </div>
    <div class="button__edit-delete">
      <button class="btn btn-outline-info my-2 my-sm-0"> <a href="{{url_for('users.edit', id=user.id)}}" class="button__edit">Edit Here  &nbsp;<i class="fas fa-edit"></i></a></button>
    </div>
    <div class="button__edit-delete">
      <form method="POST" action="{{url_for('users.show', id=user.id)}}?_method=DELETE">
          {{delete_form.hidden_tag()}}
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Delete Profile &nbsp;<i class="fas fa-trash-alt"></i> </button>
      </form>
    </div>
  </div>
  <div>
      <a href="{{url_for('users.login')}}">See {{user.first_name}}'s messages &nbsp;<i class="fas fa-envelope"></i></a>
  </div>
  {% endif %}
</section>


{% endblock %}
