html,
body {
  background: #f7f1f1;
  background-image: url('https://media1.popsugar-assets.com/files/thumbor/ljGSaPEFnf6mC7qqJnGmJt3eA5U/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/09/01/743/n/43611095/tmp_8UXR2n_a5562d47535b9726_dragons.jpg');
}

body {
  margin: auto;
}

button {
  cursor: pointer;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}

.inputWrapper {
  padding: 1px;
}

.App {
  text-align: center;
  padding-top: 10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App {
  margin: auto;
  max-width: 300px;
  background-color: #ff6666;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
}

.Todo {
  padding: 10px 40px 25px 40px;
}

.TodoForm {
  padding: 10px;
  padding-bottom: 15px;
}

.EditFormLink,
.EditFormLink:hover {
  color: black;
  text-decoration: none;
}
