extends base.pug

block content
    h1 It Broke!
    img(src="https://i1.wp.com/gifrific.com/wp-content/uploads/2012/04/plankton-smells-of-failure.gif?fit=368%2C265&ssl=1")
    br
    div
        h5
            a(href="/items") Go back!