extends base.pug

block content
  section(class="row")
    div(class="mx-auto")
      h2 UPDATE YO ITEMS!
  div(class="row mt-4")
      form(action=`/items/${item.id}?_method=PATCH` method="POST" class="mx-auto col-8")
        div(class="form-group row")
          label(for="item" class="col-sm-2 col-form-label") Item:
          div(class="col-sm-10")
            input(type="text" class="form-control" name="item" class="col-sm-12" value=`${item.item}`)
        div(class="form-group row")
          label(for="price" class="col-sm-1 col-form-label mr-0")
          div(class="input-group ml-3")
          span(class="ml-3 mr-5") Price:
          div(class="ml-3 input-group-prepend")
            div(class="input-group-text") $
          div(class="px-0 col-sm-9")
            input(type="text" name="price" class="form-control pr-0 col-sm-12" value=`${item.price}`)
        div(class="form-group row")
          label(for="url" class="col-sm-2 col-form-label") URL:
          div(class="col-sm-10")
            input(type="url" name="url" class="form-control" value=`${item.url}`)
        div(class="form-group row")
          div(class="col-sm-10")
            button(class="btn btn-outline-success") Update Your Item!






