extends base.pug

block content
    h1 Would you like to change your animal?

    form(action=`/animals/${animal.id}?_method=PATCH` method="POST")
        label(for="name") Name:
        input(type="text" name="name")
        label(for="cuteness") Cuteness Index:
        input(type="text" name="cuteness")
        button Change Animal!
    a(href=`/animals/${animal.id}`) Go back to this animal's main page
