extends base.pug

block content

    h1 Edit Item!
        form(action=`/items/${found_item._id}?_method=PATCH`, method="POST")
            label(for="item") item:
            input(type="text" name="item" value=`${found_item.item}`)
            br
            label(for="price") price:
            input(type="number" name="price" min='0' value=`${found_item.price}`)
            br
            input(type="submit" value="Edit Item!")
    h1 Delete Item!
        form(action=`/items/${found_item._id}?_method=DELETE`, method="POST")
            button(type="subit") X
        a(href="/items") Go Back