extends base.pug

block content
    h1 Add a new item!
    form(action="/items" method="POST")
        input(type="text" name="item[task]")
        input(type="text" name="item[assignee]")
        input(type="text" name="item[due-date]")
        button Add a new item!
