extends base.pug

block title
  | My Items

block content
  h1 View All Items:
  ul
    each item in items
      li id: #{item.id} item: #{item.item} price: $#{item.price}
        a(href=`/items/${item.id}`) View item
