extends base.pug

block content
    h1 See your animals
    a(href="/animals/new") Add a new animal!
    ul
    each animal in animals
        li
          a(href=`animals/${animal.id}`) #{animal.name}
