extends base.pug

block content
  h1 Add a new item!
  br
  form(action="/items" method="POST")
    label(for="item") Item:
    input(type="text" name="item" placeholder="Enter item here")
    label(for="item") Price:
    input(type="text" name="price" placeholder="Enter price")
    button(type="submit" class="btn-primary") Add a new item!
