extends base.pug

block content
  h1 Add new item!
  form(action="/items", method="post")
    input(type="text", name="name")
    input(type="text", name="price")
    input(type="submit", name="add")
