extends base.pug

block content
  h1 Need to Add Item To Your Shopping List? Submit It!
  form(action="/items" method="POST")
    label(for="item") Item:
    input(type="text" name="item")
    label(for="price") Price:
    input(type="text" name="price")
    button Add Your Item!
