extends base.pug

block content
    div(class='text-center')
      h1 Animal: #{animal.name}
      a(href=`/animals/${animal.id}/edit`) Change your animal!
      form(action=`/animals/${animal.id}?_method=DELETE` method="POST")
          button(class='btn btn-danger') Delete Animal!
      a(href="/animals") Go back to all animals :)
