{% extends 'user/base.html' %} {% block content %}

<h1>See all the messages for {{user.first_name}}</h1>

{%for message in user.messages%}
<p>{{message.message}}
  <br>
  <a href="{{url_for('messages_show', user_id=user.id, message_id=message.id)}}">See More about {{message.message}}</a>
  <br>
  <a href="{{url_for('messages_edit', user_id=user.id, message_id=message.id)}}">Edit messge</a>
</p>
{%endfor%}
<a href="{{url_for('messages_new', user_id=user.id)}}">Create a New Message</a>
{%endblock%}
