<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Flask-Crud Exercise</title>
</head>
<body class="snack-img">
  <section class="container">
  <header class="row mb-4">
    <div class="text-center mx-auto">
      <h2>The Only Snack List You'll Ever Need &nbsp;</h2><h4 class="text-muted mt-1 pt-1">Or Will Probably Ever Want</h4>
    </div>
  </header>
    {% block content %}
    {% endblock %}

  </section>
  <footer class= "nav-bar-top">
      <h6 class="company__bottom">BROUGHT TO YOU BY SNACKTIMELIST FAKE-CO</h6>
  </footer>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</body>
</html>
