<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %} {% endblock %}
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link rel="shortcut icon" href="#" />
</head>
<header>
  <div>
    <h1>Your Future in Programming</h1>
  </div>
</header>

<body>
  {% block body %} {% endblock %}
</body>

</html>
