.flex-container{
    display:flex;
    border: 1px solid black;
    height: 500px;
    align-items:center;
    justify-content:space-between;
  }
  
  .item{
    height:300px;
    width:300px;
    border:1px solid black;
  }
  img{
    height:100%;
    width:100%
  }
  .item {
    position: relative;
    
    border: 1px solid #333;
    float: left;
    margin: 2%;
    overflow: hidden;
    width: 21%;
    max-width: 540px;
  }
  .item:hover .item-overlay.top {
    top: 0;
  }
  
  .item-overlay {
    font-weight:bold;
    padding-top:130px;
    font-size:25px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    
    background: rgba(0,0,0,0.5);
    color: white;
    overflow: hidden;
    text-align: center;
    /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
    width: 100%; 
    
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  }
  /*
  …but this hide it
  */
  .item-overlay.top {
    top: 100%;
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  