{% extends "base.html" %}
{% block title %}

BOOTCAMPS APP
{% endblock %}

{% block content %}
<h1>BOOTCAMPS IN YOUR AREA</h1>
<ul>
    {% for bc in bootcamps %}
    <li class="names" id="{{bc.id}}"><a href="/bootcamps/{{bc.id}}">{{ bc.name }}</a>


        <div class="btn-group btn-group-toggle mx-5" data-toggle="buttons">
                <label class="btn btn-secondary">
                    <input type="radio" name="options" checked> 
                    <i class="fas fa-arrow-down"></i>
                </label>
                <label class="btn btn-secondary disabled">
                        {{ bc.votes}}
                    <input type="radio" name="options" autocomplete="off"> 
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" autocomplete="off"> 
                    <i class="fas fa-arrow-up"></i>
                </label>
            </div>

    </li>


    {% endfor %}
</ul>
<a href="/bootcamps/new">Add a New Bootcamp</a>
{% endblock %}