extends base.pug
block content
  h1 Edit this item a new item
  form(action=`/users/${foundUser.id}?_method=PATCH` method = "POST")
    input(type="text", name = "name", value = `${foundUser.name}`)
    
    input(type="submit" value = "Edit") 
  