extends ../base.pug
block content
  h1 Add a new User
  form(action="/users" method = "POST")
    input(type="text", name = "firstName", placeholder = "Name")
    input(type="submit", value = "add a new user")
    