extends ../base.pug
block content
  h1 Add a new Item
    form(action=`/users/${foundUser.id}/items` method="POST")
      input(type="text", name = "name", placeholder = "Name")
      input(type="submit", value = "add a new item")
    