{% extends 'base.html' %}

{% block content %}
<section class="container">
  <div "div__center mx-auto">
    <h1 class="header__center">Add a Message to {{user.first_name}}'s Profile!</h1>
    <div class="borderb__head"></div>
  </div>
  <div>
    <form action="{{url_for('messages.index', user_id=user.id)}}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}

        <div>
          {{ field.label }}
          {{ field(class_="form__input") }}
          <span>
            {% if field.errors %}
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
          </span>
        </div>

          {% endfor %}
      <div>
        <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Add Message!</button>
      </div>

    </form>
  </div>

</section>
{% endblock %}
