extends base.pug

block title
  title Edit

block content
  h1 Edit your item!
  br
  form(action=`/items/${item.id}?_method=PATCH` method="POST")
    div(class="form-group")
      label(for="item") Item:
      input(type="text" name="name" value=`${item.name}`)
    div(class="form-group")
      label(for="item") Quantity:
      input(type="text" name="quantity" value=`${item.quantity}`)
    button.btn.btn-primary(type="submit") Edit
    form(action=`/items/${item.id}?_method=DELETE` method="POST")
      button.btn.btn-danger(type="submit") X
