extends base.pug

block title
  title Items

block content
  h1 See your items!
  a(href="/items/new") Add an item to the list!
  ul
  each item in items
    li Name: #{item.name} Type: #{item.type} Price: $#{item.price}
      a(href=`/items/${item.id}/edit`) Edit Item
