extends base.pug

block title
    title item list

block content
    div(class="row mt-5 text-center")
        h1(class="m-auto") this is the list

    div(class="row m-5")
        div(class="col col-6 mx-auto")
            ul(class="list-group")
            for el in items
                li(class="list-group-item d-flex justify-content-around")
                    h4(class="mx-auto")
                        a(href=`/items/${el._id}`) #{el.name}
                    span(class="my-auto") #{el.quantity}

    div(class="text-center")
        h5
            a(href="/items/new") add a new item

    div(class="row")
        form(action=`/items?_method=DELETE`, method="POST" class="mx-auto my-3")
            button(type="submit", class="btn btn-danger btn-sm") delete all items