extends base.pug

block content
    h1 List of Items
    
    ul
    each item in items
      li
        a(href='/items/' + item.id) #{item.name}: #{item.price}

    a(href='/items/new', class="btn btn-primary") Add New
        


//-  li= '<a href="/items/' + item.id + '">' + item.name +  + item.price
     