extends base.pug
block title
  | Items
block content
  h2 Items
  a(href="/items/new") Add Item
  for item in items
    p Item: #{item.name}
      br
      span Cost: $#{item.price}
      br
      a(href=`/items/${item.id}/edit`) Edit
      form(action=`/items/${item.id}?_method=DELETE`, method="POST")
        button(type="submit") X
