extends base.pug

block content
    h1 Add stuff to your to-do list
    form(action="/item-post" method="post")
        input(type="text", name="name")
        input(type="text", name="price")
        input(type="submit")
