extends base.pug

block title
  title New Item

block content
  h1 Add a new item to the shopping list!
  form(action="/items" method="POST")
    label(for="name") Name of Item Desired
    input(type="text" name="name" id="name")
    label(for="type") Type of Item
    input(type="text" name="name" id="type")
    label(for="price") Price
    input(type="number" step="0.01" min="0" name="price" id="price")
    button Add a new item!