<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Blueprints App</title>
</head>

<body>

  <head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Message Trollbot 3000

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{{ url_for('root') }}">Go Home To All Users
            <span class="sr-only">(current)</span>
          </a>
          <a class="nav-item nav-link" href="{{url_for('users.new')}}">Create a New User</a>
          <a class="nav-item nav-link" href="{{url_for( 'tags.tags_new')}}">Create A Tag</a>
          <a class="nav-item nav-link" href="{{url_for( 'tags.tags_index')}}">See All Tags</a>
        </div>
      </div>
    </nav>
  </head>
  {% block content %} {% endblock %}
</body>

</html>
