{% extends 'base.html' %}

{% block content %}

<section class='container'>
    <h1 class="display-3 niki-headline">Update a New User!</h1>
    <div>
      <form action="{{url_for('users.show', id=user.id)}}?_method=PATCH" method="POST">
          {{ form.hidden_tag() }}
          {% for field in form if field.widget.input_type != 'hidden' %}

          <div>
            {{ field.label }}
            {{ field }}
            <span>
              {% if field.errors %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
            </span>
          </div>

            {% endfor %}
        <div>
          <button type="submit" class="btn niki-btn btn-dark">Update</button>
        </div>
      </form>
      <form action="{{url_for('users.show', id=user.id)}}?_method=DELETE" method="POST">
        {{delete_form.hidden_tag()}}
      <button type="submit" class="btn niki-btn btn-dark">Delete <i class="fas fa-trash-alt"></i></button>
    </form>
  </div>

  </section>

{% endblock %}
