body {
    background-image: url('https://images.unsplash.com/photo-1506759110912-e59fe631eeb5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91b0ae312bac0259b2da56eb6de98eb8&auto=format&fit=crop&w=2098&q=80');
    background-size: cover;

}
h1 {
    font-size: 26px;
    text-align: center;
    color: #d00b0b;
}
h2 {
    font-size: 24px;
    text-align: center;
    color: #d00b0b;
}
.container {
    margin-top: 50px;
}