.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}

.Pokedex {
  width: 75%;
  margin: auto;
  background-color: whitesmoke;
  padding: 1rem;
}

.Pokecards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Pokecard {
  display: flex;
  width: 10rem;
  flex-direction: column;
  box-shadow: 0 5px 10px gray;
  border-radius: 10px;
  background-color: gainsboro;
}

.Pokecard img {
  object-fit: cover;
}
