{% extends 'base.html' %}

{% block title %}
    edit {{ user.first_name }}
 {% endblock %}

 {% block content %}
    <h2>edit {{ user.first_name }}</h2>
    <form action="{{url_for('show', id = user.id)}}?_method=PATCH" method="POST">
        {{ user_form.hidden_tag() }}

        {% for field in user_form if field.widget.input_type != 'hidden' %}
            <div class="form-group">    
                {{ field.label }}
                {{ field (class_='form-control') }}
                <small class="form-text text-danger error_msg">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </small>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-secondary btn-lg btn-block">submit changes!</button>
    </form>
    <div class="text-right my-2">
        <form action="{{url_for('show', id = user.id)}}?_method=DELETE" method="POST" class="form-group">
            {{ delete_form.hidden_tag() }}

            <button type="submit" class="btn btn-secondary btn-lg">
                    delete user
            </button>        
        </form>
    </div>
    
  {% endblock %}