{% extends 'base.html' %}

{% block title %}
    add new user
 {% endblock %}

 {% block content %}
    <h2>add a new user</h2>
    <form action="{{url_for('index')}}" method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="form-group">    
                {{ field.label }}
                {{ field (class_='form-control') }}
                <small class="form-text text-danger error_msg">
                    {% if field.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </small>
            </div>
         {% endfor %}
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit new user!</button>
    </form>
  {% endblock %}