{% extends 'base.html' %}
{% block content %}
<ul class = "list-group list-group-flush">

<h1>All Messages for {{user.first_name}}</h1>


{% for message in user.messages %}
    
        
<li class = "list-group-item"> <a href="{{url_for('messages.show',id = user.id, message_id = message.id)}}">{{message.content}}</a>
        <br>
        
    
{% endfor %}
<a href= "{{url_for('messages.new', id = user.id)}}">Add a new message</a>
<a href = "{{url_for('users.show', id = user.id)}}" >Back to User Page</a>
</li>
</ul>
{% endblock %}