<<<<<<< HEAD
/* Exercise 1 */

/* .one {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  position: absolute;
  margin: 50px;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  position: absolute;
  margin: 50px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  
  position: absolute;
  margin: 50px;
  width: 100px;
  height: 100px;
  background-color: blue;
} */

/* Exercise 2 */
/* 
.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  position: absolute;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: blue;
} */

/* Exercise 3 */
/* 
=======
>>>>>>> parent of a0af6bc... making index and style
.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
<<<<<<< HEAD
  position: relative;
  left: 400px;
  top: 200px;
=======
>>>>>>> parent of a0af6bc... making index and style
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
<<<<<<< HEAD
  position: relative;
  top: 100px;
} */

/* Exercise 4

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  position: relative;
  top: 100px;
  left: 100px;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  position: relative;
  bottom:100px;
  right:100px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  position: relative;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background-color: blue;
} */

/* Exercise 5 */
.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  position: fixed;
  bottom: 300px;
  right: 100px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  position: fixed;
  top: 8px;
  left: 8px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
=======
}
>>>>>>> parent of a0af6bc... making index and style
