{% extends 'base.html' %}

{% block content %}

<section>
  <h1 class="header__center">List Of All Active Users</h1>
  <div class="link__register--user">
    <a href="{{url_for('users.new')}}" class="btn btn-outline-info my-2 my-sm-0">Register a New User!</a>
  </div>
    <table class="table__whole--changes">
      <thead class="table__structure">
        <tr>
          <th class="column__headers">First Name</th>
          <th class="column__headers">Last Name</th>
          <th class="column__headers">Edit</th>
          <th class="column__headers">View</th>
          <th class="column__headers">Messages</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
            <td class="column__headers">{{ user.first_name }}</td>
            <td class="column__headers">{{ user.last_name }}</td>
            <td class="column__headers"><a href="{{url_for('users.edit', id=user.id)}}"><i class="fas fa-edit"></i></a></td>
            <td class="column__headers"><a href="{{url_for('users.show', id=user.id)}}"><i class="fas fa-user"></i></a></td>
            <td class="column__headers"><a href="{{url_for('messages.index', user_id=user.id)}}"><i class="fas fa-envelope"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</section>
{% endblock %}
