.ColorLi div {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ColorLi:hover .ColorLi-caption {
  opacity: 1;
}

.ColorLi-caption {
  opacity: 0;
}
