.sardines-comp {
    background-image: url('https://media.giphy.com/media/PEvkzE0C8jmak/giphy.gif');
    background-position-x: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}