{% extends 'base.html' %} {% block title %}New Message {% endblock %} {% block content %}
<div class="container w-50 p-3">
    <h2>Post a New Message!</h2>
    <form action="{{url_for('index_message', id=id)}}" method="POST">
        <div class="form-group">
            <label for="content">Message:</label>
            <input type="text" class="form-control" id="content" name="content" max=200 placeholder="Enter a new message (200 characters max)">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
{% endblock %}