<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sunsets</title>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400" rel="stylesheet">
  <link href="{{url_for('static', filename='style.css')}}" type="text/css" rel="stylesheet">
  <!-- <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="js/script.js"></script> -->
</head>

<body>
  <section class="top">
    <header>
      <h1>😂</h1>
      <h1>SUNSETS</h1>
      <h1>😂</h1>
    </header>
    <hr>
    <form action="#" id="sunset-form">
      <h4>Add Sunset</h4>
      <div>
        <label for="img-url">Image URL: </label>
        <input type="text" id="img-url" placeholder="What is the URL for your image?">
      </div>
      <div>
        <label for="caption">Caption: </label>
        <input type="text" id="caption" placeholder="Would you like your sunset to have a caption?">
      </div>
      <div>
        <label for="location">Location: </label>
        <input type="text" id="location" placeholder="Where is this sunset?">
      </div>
      <div>
        <label for="beauty-list">Beauty Index: </label>
        <select id="beauty-list" name="beauty-list" form="sunset-form">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <button type="submit">Submit Sunset!</button>
    </form>
  </section>

  <section id="memes-section">
  </section>
  <footer class="text-center"> Coded and designed con mucho amor
    <i class="far fa-hand-spock"></i> by
    <a href="https://goyanespaula.github.io/" target="a_blank">Paula Goyanes</a> 2018
    <i class="far fa-copyright"></i>
  </footer>
</body>

</html>
