extends base.pug

block title
    title ERROR

block content
    div(class="text-center")
        h1(class="m-4") something went very wrong!
        img(src="https://media.giphy.com/media/47nNHdEE4LGp2/giphy.gif")
        br
        div(class="m-3")
            h5
                a(href="/items") go back to the list