extend base.pug

block content
  form(action=`/user/${user.id}?_method=PATCH`, method="POST")
    label(for="") First Name
      input(type="text", name="firstName" value=`${user.firstName}`)
      br
    label(for="") Last Name
      input(type="text", name="lastName" value=`${user.lastName}`)
      br
      input(type="submit" value="submit")
