extends base.pug
block content
  h1 Edit this item a new item
  form(action=`/items/${foundItem.id}?_method=PATCH` method = "POST")
    input(type="text", name = "name", value = `${foundItem.name}`)
    input(type="text", name = "price", value = `${foundItem.price}` )
    input(type = "text", name = "quantity", value = `${foundItem.quantity}`)
    input(type="submit" value = "Edit") 
  