extends base.pug

block title
    | Shopping List

block content
    h1 Shopping List
    a(href="/items/new") Add Item
    br
    a(href="/items/search") Search Item
    br
    ul

    for item in shoppingList
        li
          a(href=`/items/${item.id}`) #{item.name}
          span  | #{item.quantity}

    br
    form(action=`/items?_method=DELETE` method="POST" )
        input(type="submit", name="delete", value="Delete All")
