extends base.pug

block content
  div(class="container")
    h1 #{item.name}

  //- form(action=`/user/${users._id}/items`, method="GET")
  //-   input(type="submit" value="SeeItems" class="btn btn-primary")
