extends base.pug

block content
  div(class="container")
    form(action=`/user/${user.id}/items`, method="POST")
      div(class="form-group")
        label(for="") Item
          input(type="text", name="name" placeholder="item" class="form-control input-lg")
      div(class="form-group")
        input(type="submit" value="submit" class="btn btn-primary")
