extends base.pug

block title
    | Item Search Results

block content
    h1 Item Search Results
    p You searched for #{searchItem}
    br
    if searchResults.length === 0
        span No results found
    ul
    for item in searchResults
        li
          a(href=`/items/${item.id}`) #{item.name}
          span  | #{item.quantity}

    br
    a(href="/items/search") Search Items
    br
    a(href="/items") Home

