extends base.pug

block title
    | Users List

block content
    h1 Users List
    a(href="/users/new") Add User
    br
    a(href="/users/search") Search User
    br
    ul

    for user in userList
        li
          a(href=`/users/${user.id}`) #{user.name}

    br
    form(action=`/users?_method=DELETE` method="POST" )
        input(type="submit", name="delete", value="Delete All")
