extends base.pug

block title
    | Add Items for User

block content
    h1 Add Items for User

    each item in items:
        span #{item.name}
        form(action=`/users/${user.id}/items` method="POST")
            input(type="text" name="item_id" value=`${item._id}` hidden=true)
            input(type="submit" value="Add Item")

    form(action="/users" method="POST")
        br
        label Name
        input(type="text", name="name")
        br
        br
        input(type="submit", name="done", value="Add User")
        br
        a(href="/users") Cancel
