{% extends 'base.html' %} {% block content %}

<h1>Edit Message</h1>

<form method="POST" action="{{url_for('messages.show_message', message_id=message.id)}}?_method=PATCH">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}: {{ field }}
    <span>
      {% if field.errors %} {% for error in field.errors %} {{ error }} {% endfor %} {% endif %}
    </span>
  </p>
  {% endfor %}
  <input type="submit" value="Edit Message">
</form>

  <form action="{{url_for('messages.show_message', message_id=message.id)}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>

{% endblock %}
