{% extends 'base.html' %}

{% block content %}

<h1>Add a new message</h1>

<form method="POST" action="{{url_for('messages.index_message', id=user_id)}}">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }} {{ field }}
    <span>
      {% if field.errors %} {% for error in field.errors %} {{ error }} {% endfor %} {% endif %}
    </span>
  </p>
  {% endfor %}
  <input type="submit" value="Add Message">
</form>

<button>
  <a href="{{url_for('users.show', id=user_id)}}">Back to all messages</a>
</button>

{% endblock %}
