{% extends 'base.html' %}

{% block nav %}
<h1>Add a Message for {{ user.first_name }}:</h1>
{% endblock %}


{% block content %}

<!-- render the token -->
<!-- render the non-hidden fields with a for loop -->
<!-- for loop inside a span for errors -->


<form action="{{url_for('messages.index', id=user.id)}}" method="POST">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field }}
  <span>
    {% if field.errors %}
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    {% endif %}
  </span>
  </p>
  {% endfor %}
  <button>Submit</button>
</form>

{% endblock %}
