{% extends 'base.html' %}

{% block content %}
<ul>
<li>
    {{message.content}}
    <a href="{{url_for('messages.edit', user_id=message.user_id, id=message.id)}}"> Edit this message</a>
</li>

<form method="POST" action="{{url_for('messages.show', user_id=message.user_id, id=message.id)}}?_method=DELETE">
    {{delete_form.hidden_tag()}}
    <input type="submit" value="X">
</form>

<a href="{{url_for('messages.index', user_id=message.user_id)}}"> Back to user's messages</a>
</ul>
{% endblock %}