.person {
    border: 15px solid salmon;
    border-radius: 20px;
    width: 25%;
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
    align-content: center;
    margin: auto;
    color: navy;
    font-size: 1.0em;
    margin-bottom: 10px;
}

.message {
    font-style: italic;
}