.inprogress__edit {
  background-color: dodgerblue;
}

form {
  display: inline-block;
}

.edit__input {
  height: 30px;
  width: 600px;
  border: none;
  font-size: 16px;
}
/*
border-radius: 3px; */
