.card-img--container {
  align-self: center;
  display: flex;
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 10%;
}

.card-block {
  padding-top: 0;
}

.wrapper--profile-img {
  align-self: center;
  display: flex;
  width: 12rem;
  height: 12rem;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 10%;
}

.profile {
  width: 25rem;
  margin: 2% auto auto;
}

.table {
  max-width: 1000px;
}
