body {
    background-image:url('https://images.unsplash.com/photo-1472437774355-71ab6752b434?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd4d735954f33290fbf984e4eb7abe32&auto=format&fit=crop&w=1334&q=80');

background-size: cover;
}

.navbar {
    
    max-height:60px;
}


h1 {
    font-size: 34px;
    text-align: justify;
    color: blueviolet;
}
h2 {
    font-size: 24px;
    text-align: center;
    color: #d00b0b;
}

h3 {
    font-size: 20px;
    text-align: justify;
    color: #d00b0b;
}
.container {
    margin-top: 50px;
}



