body {
  background-image: url('Righteousness.jpeg');
  background-position: center center;
  background-repeat: repeat, repeat;
  display: flex;
  justify-content: center;
}

li {
  font-size: 15px;
  border: 1px solid green;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

main {
  width: 60%;
  background-color: white;
  opacity: 0.9;
}

#index__form--delete,
#index__form--edit {
  border-radius: 3px;
}
