.img__add img {
  height: 300px;
  width: 400px;
}

.img__container {
  height: 500px;
  width: 400px;
  display: inline-block;
  text-align: center;
}

.form__input__length {
  width: 400px;
  margin: 1%;
  padding: 0.5%;
}

.gallery__looks {
  list-style: none;
  width: 100%;
}

.gallery__looks li {
  display: inline-block;
  margin: 2%;
}

h1 {
  position: relative;
  left: 50%;
  transform: translate(-20%);
}

.form__look {
  margin-left: 2%;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.form__dropdown {
  margin-top: 1%;
}

button {
  margin-top: 2%;
  /* height: 20px; */
  padding: 0.5%;
  border-radius: 3%;
}
