<!-- <div class="container">
        <div class="row">
          <div class="col-sm">
            {{user.first_name}} {{user.last_name}}
          </div>
          <div class="col-sm">
                <a href="{{url_for('show', id=user.id)}}">See more info</div>
          <div class="col-sm">
                <a href="{{url_for('edit', id=user.id)}}">Edit user</a>
          </div>
        </div>
      </div> -->


        <!-- <div class="card card-cascade">
                <p>
                {{user.first_name}} {{user.last_name}}
                <br>
                <a href="{{url_for('show', id=user.id)}}">See more about {{user.first_name}}</a> |
                <a href="{{url_for('edit', id=user.id)}}">Edit a user</a>
                </p>
                </div> -->

                <!-- <br>
                <a href="{{url_for('show', id=user.id)}}">See more about {{user.first_name}}</a> |
                <a href="{{url_for('edit', id=user.id)}}">Edit a user</a> -->


                 <!-- <button type="submit" class="btn btn-primary">Click here to add a new user.</button> -->
        <!-- <td><a href="{{url_for('destroy', id=user.id, delete=delete_form.hidden_tag() )}}?_method=DELETE" method="POST"> Delete</a></td> -->

        <!-- {% with message = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %} -->