{% extends 'base.html' %} {% block title %} All Users {% endblock %} {% block content %}
<h2>Welcome back {{current_user.username}}</h2>
{% for user in users %}
<br>
<p>
  {{user.id}} | {{user.first_name}} {{user.last_name}} | {{user.image_url}}
  <br>
  <br>
  <a class="btn btn-primary" href="{{url_for('users.show_users', user_id=user.id)}}">See more about {{user.first_name}}</a>
  <a class="btn btn-primary" href="{{url_for('users.edit_users', user_id=user.id)}}">Edit</a>
  <hr>
</p>
{% endfor %}
<a class="btn btn-primary" href="{{url_for('index_messages')}}">All Messages</a>
<a class="btn btn-primary" href="{{url_for('tags.index_tags')}}">All Tags</a>
<a class="btn btn-primary" href="{{url_for('users.logout_users')}}">Logout</a>
{% endblock %}
