{% extends 'base.html' %} {% block title %} Signup User {% endblock %} {% block content %}
<h1>Create a new account!</h1>
<form method="POST" action="{{url_for('users.signup_users')}}">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %}
  <p>
    {{field.label}} {{field}}
    <span>
      {% if field.errors %} {% for error in field.errors %} {{error}} {% endfor %} {% endif %}
    </span>
  </p>
  {% endfor %}
  <input class="btn btn-primary" type="submit" value="Create Account">
</form>
<br>
<a class="btn btn-primary" href="{{url_for('users.login_users')}}">Login</a>
<br><br>
<a class="btn btn-primary" href="{{url_for('index_messages')}}">All Messages</a>
<a class="btn btn-primary" href="{{url_for('root')}}">Home</a>
{% endblock %}
